*{
    outline: 1px solid red;
    
}

body {
    margin: 0px auto;
}
#head {
    width: 950px;
    background-color: grey;
}
#header {
    min-height: 75px;
    margin-right: 350px;
    padding-top: 15px;
    margin-left: 20px;
    display: inline-block;
    font: "papyrus";
}

#catchphrase {
    text-align: right;
    display: inline-block;
}

#main {
    width: 950px;
    background-color: purple;
    min-height: 300px;
    display: inline-block;

}

#me {
    height: 300px;
    margin: 10px;
    border: 6px solid grey;
    display: inline-block;
}

#about_me {
    display: inline-block;
    max-width: 400px;
    margin: 20px;
}

.banner {
    background: linear-gradient(white, grey, white);
    color: white;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
#intro {
    display: inline-block;
    background-color: white;
}

#three_boxes {
    width: 950px;
}

.box {
    width: 270px;
    margin: 0px 20px;
    display: inline-block;
    background: white;
}
.box_image{
    width: 220px;
}
.boxtext {
    background: white;
    height: 200px;

}

.greenbutton {
    text-align: center;
    color: white;
    background-color: green;
    margin: 3px 20px 10px;
    border-radius: 6px;
}

footer {
    width: 950px;
    background-color: white;
    padding: 5px;
    text-align: center;
}
#social{
    display: inline;
}

.footer_icon {
    width: 20px;
}