*{
    outline: 1px solid red;
}


#head {
    width: 950px;
    background-color: grey;
}
#header {
    min-height: 75px;
    margin-right: 350px;
    padding-top: 15px;
    margin-left: 20px;
    display: inline-block;
}

#catchphrase {
    text-align: right;
    display: inline-block;
}

#main {
    width: 950px;
    background-color: purple;
    min-height: 500px;
    display: inline-block;

}

#me {
    height: 300px;
    margin: 10px;
    border: 6px solid grey;
    display: inline-block;
}

#about_me {
    display: inline-block;
    max-width: 400px;
    margin: 20px;
}

#about {
    background-color: Grey;
}
#intro {
    display: inline-block;
    background-color: white;
}